.menu {
	position: fixed;
	left: 0;
	width: 200px;
	background: rgb(51 0 75);
	color: white;
	height: 100%;
	top: 0;
	padding: 17px;
	border-radius: 12px;
}
.menulink {
	display: block;
	color: white;
	text-decoration: none;
	margin-left: 17px;
	padding-bottom: 1px;
	font-weight: bold;
}
body {
	font-family: Gill Sans, sans-serif;
}
.menulink:hover {
	background: white;
	color: rgb(51 0 75);
}
.div {
	padding-left: 300px;
}
hr {
	border: 4px rgb(51 0 75) solid;
	border-radius: 3px;
}
.photo{
	width: 45%;
	margin: 3px;
	border-radius: 5px;
	opacity: 0.75;
}
.photo:hover {
	opacity: 1;
}
h2 {
	color: rgb(51 0 75);
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 0;
}
.name {
	color: white;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
.teamcontent {
	background: rgb(239 237 237);
	border-radius: 5px;
	padding: 4px;
}
.designersflex {
	display: flex;
	justify-content: space-around;
}
.team {
	width: 28%;
}
.team img {
	width: 100%;
	border-radius: 5px;
}
h4 {
	margin-top: 0;
}
.prof {
	color: grey;
}
ol {
 list-style-type: none;
 text-align: center;
 width: 38%;
 padding-left: 0;
}
li {
	padding: 7px;
	background-color: rgb(242 241 241);
}
.basic {
	background: rgb(67 0 92);
	color: white;
	border-radius: 8px;
	padding: 11px;
	font-size: 23px;
}
.day {
	color: grey;
}
.price {
	font-size: 26px;
}
.by {
	padding: 9px;
	background: white;
	border-radius: 11px;
	text-decoration: none;
	color: black;
}
.li {
	padding: 19px;
}
.pro {
	background: rgb(238 59 62);
	color: white;
	border-radius: 8px;
	padding: 11px;
	font-size: 23px;
}
.sign {
	padding: 9px;
	background: rgb(238 59 62);
	border-radius: 11px;
	text-decoration: none;
	color: white;
}
.flextarifs {
	display: flex;
	justify-content: space-around;
}
.tline {
	border: 0.5px rgb(220 219 219) solid;
	margin: 0;
}
input {
	margin: 3px;
	margin-bottom: 12px;
	width: 95%;
	padding: 4px;
	border: grey solid 1px;
}
button {
	width: 98%;
	padding: 6px;
	color: white;
	background: rgb(67 0 92);
	border-radius: 7px;
	border: none;
}